<%- include('./partials/header.ejs'); -%>

<div id="landing-header">
    <h1><p>Welcome to <strong><h1 class="display-1"> Stubble Management</h1></strong> </p></h1>
    <a href="#" class="btn btn-lg btn-success">Need Stubble?</a>
    <a href="#" class="btn btn-lg btn-success">Collect Stubble</a>
    <!-- <p>
        <form action="/campgrounds" method="GET" class="form-inline">
            <div class="form-group">
                <input type="text" name="search" placeholder="Campground search..." class="form-control">
                <input type="submit" value="Search" class="btn btn-default">
            </div>
        </form>
    </p> -->
</div>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
</ul>

<%- include('./partials/footer.ejs'); -%>
